KERNEL=="dock.0", ACTION=="change", RUN+="/usr/local/sbin/thinkpad-dock.sh"
KERNEL=="dock.1", ACTION=="change", RUN+="/usr/local/sbin/thinkpad-dock.sh"
KERNEL=="dock.2", ACTION=="change", RUN+="/usr/local/sbin/thinkpad-dock.sh"
